@model Factory.Models.Machine

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Model)?</h2>

@using (Html.BeginForm())
{
  <button class="btn" type="submit">Delete machine</button>
}
