@using Factory.Models;
@model List<Factory.Models.Location>

<h1>Dr. Sillystringz's Factory Locations</h1>
</br>
</br>
<ul>
    @foreach (Location location in Model)
    {
      <li class="bottom-link">@Html.ActionLink($"{location.LocationName}", "Details", new { id = location.LocationId })</li>
    }
</ul>
</br>
<p class="bottom-link">@Html.ActionLink("Add new factory location", "Create")</p>