<h1 id="hero-heading">Factory</h1>
<div id="hero">
  <div class="hero-img-top-left">
    <a href="../Machines/Index">
      <img class="hero-img" src="~/img/machine.jpeg" />
      <p class="hero-p shadow-lg">Machines</p>
    </a>
  </div>
  <div class="hero-img-right">
    <a id="engineer-img" href="../Engineers/Index">
      <img class="hero-img" id="engineer-img" src="~/img/engineer.jpeg" />
      <p class="hero-p shadow-lg">Engineers</p>
    </a>
  </div>
  <div class="hero-img-bot-left">
    <a id="location-img" href="../Locations/Index">
      <img class="hero-img" src="~/img/location.jpeg" />
      <p class="hero-p shadow-lg">Locations</p>
    </a>
  </div>
  <div>