@using System.Collections.Generic;
@using Factory.Models;

@{
  List<Machine> machines = ViewData["machines"] as List<Machine>;
}

@{
  List<Engineer> engineers = ViewData["engineers"] as List<Engineer>;
}

<h3>All factories stats</h3>
</br>
<h4>All Machines</h4>
</br>
@foreach (Machine machine in machines)
{
  <li class="bottom-link">@Html.ActionLink($"{@machine.Model}", "Details", "Machines", new { id = machine.MachineId })</li>
}
</br>
</br>
</br>
<h4>All Engineers</h4>
</br>
@foreach (Engineer engineer in engineers)
{
  <li class="bottom-link">@Html.ActionLink($"{@engineer.Name}", "Details", "Engineers", new { id = engineer.EngineerId })</li>
}